
.caja1, .caja2, .caja3 {
	display: inline-block;
	width: 135px;
	height: 155px;
	border: 5px inset red;
	padding: 20px;
	margin: 20px;
	background: url("../imagenes/reloj.png") no-repeat center;
}

.caja1 {
	background-position: bottom left;
	background-color: blue;
}

.caja2 {
	background-position: top right;
	background-color: tomato;
}



.caja3 {
	background-position: center;
	background-color: green;
}