*  {

	box-sizing: border-box;
}

.contenedor {
	width: 80%;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 0;
}


.recuadro1 {
	margin: 2rem;
	background-color: gainsboro;
	padding: .5rem;
	border-radius: 1rem;

	box-shadow: 1rem 1rem 1rem green , -1rem -1rem 1rem red ;

}

